html {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  flex: 1;
  margin: 5px;
}

#header-wraper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#my-picture {
  padding: 10px;
  width: 108px;
  height: 108px;
}
#my-picture img {
  border-radius: 50%;
  border: 4px solid #fff;
}

#header-info {
  flex: 3;
  margin-left: 50px;
}

h1 {
  margin: 5px 0;
}

#job-title {
  color: #334455;
  margin: 5px 0;
  font-weight: bold;
  font-size: 1.2em;
}

#content {
  flex: 5;
  display: flex;
  flex-direction: row;
}

#side-menu {
  flex: 1;
}

#main {
  flex: 3;
}

footer {
  text-align: center;
  background-color: #334455;
  color: white;
  padding: 10px;
  margin: 0px 5px;
}

footer a {
  color: white;
  padding: 0 10px;
  font-size: 25px;
}

.page {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.4);
  transition: box-shadow 83ms;
  margin: 16px 5px;
  padding: 24px;
  border-radius: 2px;
}

.page h2 {
  margin: 0;
}

.favorite-skill {
  color: rgb(187, 28, 28);
  font-weight: bold;
}

#skills li span{
  color:#777777;
}

td {
  padding: 3px;
}

#top-menu-bar {
  text-align: center;
  background-color: #334455;
  color: #fff;
  padding: 15px;
  margin: 16px 5px;
}

#top-menu-bar li {
  display: inline;
  margin: 0;
  padding: 0;
}

#top-menu-bar a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px 10px 15px;
  font-size: 25px;
}

#top-menu-bar a:hover {
  color: #334455;
  background-color: #fff;
}
